/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Sport;
}

@font-face {
    font-family: 'Sport';
    src: url('../assets/font/Race\ Sport.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

.fondo {
    position: fixed;
    bottom: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    color-scheme: light;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #1e53a8;
}

::-webkit-scrollbar-thumb:hover {
    background: #1c3c81c5;
}

.bg-main {
    background-color: white;
}

@media (hover: none) {}

/* Navbar y medidas */

.navbar {
    height: 270px;
}

.navbar-top {
    border-radius: 0;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.navbar-default {
    position: relative;
    background-color: #ffffff;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    margin: 0;
    z-index: 9;
}

.bg-navbar {
    background: #002553;
}

.bg-transparent {
    background: transparent;
}

.hover-navbar {
    transition: color 0.6s ease;
}

.hover-navbar:hover {
    color: #3fc5ec;
}

.hover-navbar {
    position: relative;
    transition: 0.5s;
}

.hover-navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #8bcc27;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
}

.hover-navbar:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.titulos {
    color: #1e53a8;
}

.textos-largos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
}

.trails {
    width: 40rem;
}

.circuitos {
    height: 80em;
}

/* Footer */

.background-dark {
    background: no-repeat center/100% url("../assets/images/degradado.jpeg");
    width: 100%;
    height: 100%;
}

.bg-muni {
    background: #002553;
    color: #ffffff;
}

.texto-animado {
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #020024 0%, #0f2554 37%, #004c48 65%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    text-align: center;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 10s infinite linear;
    background-size: 200% 100%;
}

@keyframes rainbow-animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.rainbow-text-inverse {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation-inverse 10s infinite linear;
    background-size: 200% 100%;
}

@keyframes rainbow-animation-inverse {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

/* Estilos para el contenedor de carga */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Color de fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Asegura que esté por encima de todo */
}

/* Estilos para el texto de carga */
.loading-text {
    font-size: 24px;
    color: #333;
    /* Color del texto */
}

#map-container {
    height: 400px;
}