/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Sport;
}

@font-face {
    font-family: 'Sport';
    src: url('../assets/font/Race\ Sport.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #1e53a8;
}

::-webkit-scrollbar-thumb:hover {
    background: #1c3c81c5;
}

.bg-main {
    background-color: white;
}

/* Navbar y medidas */

.navbar {
    height: 100px;
}

.navbar-top {
    border-radius: 0;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.navbar-default {
    position: relative;
    background-color: #ffffff;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    margin: 0;
    z-index: 9;
}

.bg-navbar {
    background: #000;
}

.bg-transparent {
    background: transparent;
}

.hover-navbar {
    transition: color 0.6s ease;
}

.hover-navbar:hover {
    color: #3fc5ec;
}

.hover-navbar {
    position: relative;
    transition: 0.5s;
}

.hover-navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #8bcc27;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
}

.hover-navbar:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.titulos {
    color: #1e53a8;
}

.textos-largos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
}

.trails {
    width: 40rem;
}

/* Footer */

.background-dark {
    background: no-repeat center/100% url("../assets/images/degradado.jpeg");
}

.texto-animado {
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #020024 0%, #0f2554 37%, #004c48 65%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    text-align: center;
}